@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Mouse+Memoirs&family=Poppins:wght@300;400;500;600&family=Questrial&family=Tilt+Warp:XROT,YROT@5,1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.logo{
    width:150px; 
    height:60px;
    border:3px;
    border-style: solid;
    border-radius: 50px;
    border-color:rgb(211, 3, 3); 
    margin-left: 5px;
    


}
ul{
  list-style:none;
  background: rgb(223, 13, 13);
  border-radius: 15px;
  
}
ul li {
    display: inline-block;
    position: relative;
    width:10em ;
}
ul li a{
    display:block;
    padding:10px 20px;
    color: #fff;
    text-decoration: none; 
    text-align: center;
    font-size: 15px;
}
ul li ul.menu{
    display: block;
}
ul li ul.menu{
    width: 170px;
    background: rgb(209, 5, 5) ;
    position: absolute;
    z-index:999 ;
    display: none;
}
ul li a:hover{
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
ul li:hover ul.menu{
    display: block;
}
.login {
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
.login:hover{
    background: rgb(209, 5, 5);
}
img{
    width: 800px;
    height: 500px;
    margin-left: 789px;
}
h1{
    position: absolute;
    top: 189px;
    padding: 20px;
    padding-left:20px;
}
h1 span {
    color: rgb(219, 6, 6);
    font-style: oblique;
    
}
.text{
    font-style: italic;
    color: black;
}
.pargh1 {
    position: absolute;
    top: 370px;
    padding: 10px; 
    padding-left: 50px; 
}
.pargh2 {
    position: absolute;
      top: 390px;
      padding: 10px; 
      padding-left: 50px; 
  }
  .pargh3 {
    position: absolute;
      top: 410px;
      padding: 10px;  
      padding-left: 50px; 
  }
  .pargh4 {
    position: absolute;
      top: 430px;
      padding: 10px;  
      padding-left: 50px; 
  }
  .heading{
      text-align: center;
      padding-bottom:5px;
      font-size: 3.5rem;
  }
  .heading span{
      position: relative;
      z-index: 0;
  }
  .heading span::before{
      content:'';
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0.5rem;
     height:100% ;
     width:100% ;
     z-index:-1 ;
     background-color: rgb(219, 6, 6);
     clip-path: polygon(0 90%, 100% 80%, 100% 100% , 0% 100%);
  }

  .btn{
      display: inline-block;
      margin-top: 15px;
      border-radius: 15px;
      background: rgb(219, 6, 6);
      color: #fff;
      font-weight: 100;
      font-size: 15px;
      cursor:pointer;
      padding: 10px 25px;
      font-family: cursive;
  }
  .btn:hover{
      background: rgb(80, 73, 73);
  }
  .car{
    padding-bottom: 5px; 
  }
  .swiper {
    width: 100%;
    height:100%;   
  }
  .swiper-wrapper {
    padding-bottom: 15px;
}
  .swiper-slide{
      text-align: center;
      font-size: 18PX;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position:center; 
  }
   .swiper-slide img{
     margin-left: 10px;
      width: 100%;
      height:100% ;
      object-fit: cover;   
  }
  
  .content{
      padding-top: 1px;
  }
  .content h3{
       font-size: 2rem;
       color: black;
  }
  .price{
      font-size: 2.5rem;
      color: rgb(209, 5, 5);
      font-weight: bolder;
  }
  .price span{
    font-size: 1.9rem;
    color: black;
    font-weight: normal; 
}
.content p{
    font-size: 1.2rem;
    padding-top:1.5rem;
    border-top: var(--border); 
}
.content p span{
    color:black;
    font-size:0.9rem; 

}
.footer{
    width: 100%;
    height: 100%;
    background-color: rgb(80, 73, 73);
    display: grid;
       
}
.fin-footer{
    display: flex;
   justify-content: space-around;
    gap: 5rem;
}
.fin h4{
    color: #fff;
    font-size: 1.5rem;
   
}
.fin a {
    color: #fff;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif ;
    display: block;
    padding-bottom:0.4rem; 
    text-decoration: none;
}
.fin a i{
    padding-right:0.5rem; 
    color: #fff;
}
.fin a:hover i{
    padding-right: 1.5rem;
    color: rgb(209, 5, 5);

}
.create{
    text-align: center;
    color: #fff; 
    font-size: 1rem;
}
.create p{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
}
.create span{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
    padding-top:1rem;
}