@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Mouse+Memoirs&family=Poppins:wght@300;400;500;600&family=Questrial&family=Tilt+Warp:XROT,YROT@5,1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.logo{
    width:150px; 
    height:60px;
    border:3px;
    border-style: solid;
    border-radius: 50px;
    border-color:rgb(211, 3, 3); 
    margin-left: 5px;
}
ul{
  list-style:none; /*bah mtjich la lise mr9ma " Remove HTML bullets" */
  background: rgb(223, 13, 13);
  border-radius: 15px;
  
}
ul li {
    display: inline-block;/*bah tji godam b3dha*/
    position: relative;
    width:10em ;
}
ul li a{
    display:block;/*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
    padding:10px 20px;
    color: #fff;
    text-decoration: none;/*bah myjiwch les liens mstrin*/ 
    text-align: center;
    font-size: 15px;
}
ul li ul.menu{
    display: block;/*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
}
ul li ul.menu{
    width: 170px;
    background: rgb(209, 5, 5) ;
    position: absolute;  /* bah yjiw f nafs star godam b3dhoum*/
    z-index:999 ; /*bah tjina liste ta3 dash w para*/
    display: none;/*bah ki ntka 3liha tjini ta3 dash w para ta7t b3dhoum psq koun n7itha tb9a kyna*/
}
ul li a:hover{
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
ul li:hover ul.menu{
    display: block; /*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
}
.login {
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
.login:hover{
    background: rgb(209, 5, 5);
}

body{

    background-image: url(3.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
   
}
.main{
    width: 100%;
    padding: 36px 24px;
    font-family: sans-serif;
    
}
.main ul{
    background-color: transparent;

}
 main .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 15px;
    flex-wrap: wrap;
 }

  main .title .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
    text-align: center;
 }
 main .title .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
 }
 
 main .title .btn{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background-color: blue;
    color: lightblue;
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
 }
 main .box{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(280px ,1fr));
    grid-gap: 24px;
    margin-top: 36px;
    background-color: transparent;
    
 }
 main .box li{
  padding: 24px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: #80808073;/*t3 moraba3at*/

  grid-gap: 24px;
 }
 main .box li .fas{
    width: 80px;
    height: 25px;
    border-radius: 5px;
    

    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 main .table{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 25px;
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;

 }
 .table th,td{
    border: 1px solid red;
    padding: 8px;
    text-align: left;
    color: black;
    background-color: aliceblue;
 }









.footer{
    width: 100%;
    height: 100%;
    background-color: rgb(80, 73, 73);    
}
.fin-footer{
    display: flex;/* ndirhoum godam b3dhoum */
    justify-content: space-around;/*bah ndie espace binthoum "nb3dhoum 3la b3dhoum tkhli frghat bin 3nwiin"*/
    gap: 5rem; /*ta3 espace li bin 3nawiin bl3rd*/
}
.fin h4{
    color: #fff;
    font-size: 1.5rem;
}
.fin a {
    color: #fff;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif ;
    display: block;/*bah yjiw ta7t b3dhoum*/
    padding-bottom:0.4rem; 
    text-decoration: none;
}
.fin a i{
    padding-right:0.5rem; 
    color: #fff;
}
.fin a:hover i{
    padding-right: 1.5rem;
    color: rgb(209, 5, 5);

}
.create{
    text-align: center;
    color: #fff; 
    font-size: 1rem;
}
.create p{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
}
.create span{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
    padding-top:1rem;
}
