@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Mouse+Memoirs&family=Poppins:wght@300;400;500;600&family=Questrial&family=Tilt+Warp:XROT,YROT@5,1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.logo{
    width:150px; 
    height:60px;
    border:3px;
    border-style: solid;
    border-radius: 50px;
    border-color:rgb(211, 3, 3); 
    margin-left: 5px;
}
ul{
  list-style:none; /*bah mtjich la lise mr9ma */
  background: rgb(223, 13, 13);
  border-radius: 15px;
  
}
ul li {
    display: inline-block;/*bah tji godam b3dha*/
    position: relative;
    width:10em ;
}
ul li a{
    display:block;
    padding:10px 20px;
    color: #fff;
    text-decoration: none;/*bah myjiwch les liens mstrin*/ 
    text-align: center;
    font-size: 15px;
}
ul li ul.menu{
    display: block;
}
ul li ul.menu{
    width: 170px;
    background: rgb(209, 5, 5) ;
    position: absolute;  /* bah yjiw f nafs star godam b3dhoum*/
    z-index:999 ; /*bah tjina liste ta3 dash w para*/
    display: none;/*bah ki ntka 3liha tjini ta3 dash w para ta7t b3dhoum psq koun n7itha tb9a kyna*/
}
ul li a:hover{
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
ul li:hover ul.menu{
    display: block; 
}
.login {
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
.login:hover{
    background: rgb(209, 5, 5);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*tableau ta3 from bkl*/
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;  
}
form{
    display: grid;
    gap: 10px; 
}
label {
    font-weight: bold; /*nw3 ta3 lktiba*/
}
input[type="text"],
input[type="email"],
input[type="tel"]
 {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    
}
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"]  {
    background-color:rgb(209, 5, 5);
    color: #fff;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    cursor:pointer; /*hda ki tdi la souris mnin hyaa tjiik yad*/
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color:rgb(80, 73, 73);
}


.footer{
    width: 100%;
    height: 100%;
    background-color: rgb(80, 73, 73);    
}
.fin-footer{
    display: flex;
    justify-content: space-around;
    gap: 5rem; /*ta3 espace li bin 3nawiin bl3rd*/
}
.fin h4{
    color: #fff;
    font-size: 1.5rem;
}
.fin a {
    color: #fff;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif ;
    display: block;/*bah yjiw ta7t b3dhoum*/
    padding-bottom:0.4rem; 
    text-decoration: none;
}
.fin a i{
    padding-right:0.5rem; 
    color: #fff;
}
.fin a:hover i{
    padding-right: 1.5rem;
    color: rgb(209, 5, 5);

}
.create{
    text-align: center;
    color: #fff; 
    font-size: 1rem;
}
.create p{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
}
.create span{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
    padding-top:1rem;
}