@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Mouse+Memoirs&family=Poppins:wght@300;400;500;600&family=Questrial&family=Tilt+Warp:XROT,YROT@5,1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.logo{
    width:150px; 
    height:60px;
    border:3px;
    border-style: solid;
    border-radius: 50px;
    border-color:rgb(211, 3, 3); 
    margin-left: 5px;
}
ul{
  list-style:none; /*bah mtjich la lise mr9ma " Remove HTML bullets" */
  background: rgb(223, 13, 13);
  border-radius: 15px;
  
}
ul li {
    display: inline-block;/*bah tji godam b3dha*/
    position: relative;
    width:10em ;
}
ul li a{
    display:block;/*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
    padding:10px 20px;
    color: #fff;
    text-decoration: none;/*bah myjiwch les liens mstrin*/ 
    text-align: center;
    font-size: 15px;
}
ul li ul.menu{
    display: block;/*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
}
ul li ul.menu{
    width: 170px;
    background: rgb(209, 5, 5) ;
    position: absolute;  /* bah yjiw f nafs star godam b3dhoum*/
    z-index:999 ; /*bah tjina liste ta3 dash w para*/
    display: none;/*bah ki ntka 3liha tjini ta3 dash w para ta7t b3dhoum psq koun n7itha tb9a kyna*/
}
ul li a:hover{
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
ul li:hover ul.menu{
    display: block; /*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
}
.login {
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
.login:hover{
    background: rgb(209, 5, 5);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}
.box{
    width:600px; 
    height:30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 450px;
    margin-top: 10px;
    border: 1px solid black;

}
.box i{
    font-size: 25px;
    color:rgb(109, 107, 107);
  
    
}
.box input{
    border: 2px;
    border-color: black;
    width: 300px;
    height: 40px;
    outline: none;/*bah ndor lkhat ta3 lktiba "|"*/
    font-size: 18px;
    padding-left: 10px;
}
section{
    background-color: #fff;
}

.heading{
    text-align: center;
    padding-bottom:5px;
    font-size: 2.5rem;
}
.container {
    max-width: 400px;
    border: 2px solid #ccc;
    padding: 5px;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgb(209, 5, 5);
}
.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    
}
.car-list{
    display: grid;
    gap: 30px;/*espace bin liste ta3 car btoul column*/
    background-color: #fff;
}
.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
  }
.card-title  a {
  color: black;
  width: 100%;
  text-decoration: none;/*bah n7i str li ta7t link*/
 padding-top: 5px;
 font-weight: 700;
 
}
  .card-title a:hover{

   color:rgb(209, 5, 5);
 }
 .year {
    font-size: 18px;
    font-weight: 500;
    padding: 3px 12px;
    border: 2px dashed rgb(209, 5, 5);
    border-radius: 20px;
  }
  .card-list{
    list-style:none ;
    background-color: #fff;
    gap: 10px;/*ta3 espace li binthoum*/
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.158);/*bah ndiir lkhat hdak lkhfif*/
    
   
}
.item {
justify-content: space-evenly;
}
.item3 {
    margin-right: 20px;
 } 
 .item3 i {
    font-size: 20px;
    color: rgb(209, 5, 5);
    width: 38px;
  }
  .item4 {
    margin-right: 10px;
 } 
 .item4 i {
    font-size: 20px;
    color: rgb(209, 5, 5);
    width: 38px;
  }
  .item i {
    font-size: 20px;
    color: rgb(209, 5, 5);
    width: 38px;
  }
  .card-item-text {
    color: black;
    font-size: 16px;
  }
  .text{
      font-size: 18px;
      margin-bottom: 10px;
  }

  .card-wrapper {
    display: flex; 
  }
 .btn3 {
   width:150px;
   height: 35px;
   background-color: rgb(209, 5, 5);
   text-decoration: none;/*bah n7i lkhat ta3 link*/
   margin-right: 140px;
   border: none;
   border-radius: 20px;
   margin-top: 15px;
 }
  .btn3 a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: cursive;
  }
  .btn3 a:hover{
    color:black;
  }
  .btn1{
   width: 40px;
   height:30px ;
   margin-right: 5px;
   border-radius: 5px;
   border: 1px solid rgb(209, 5, 5);
  }
  .btn1 i{
    cursor: pointer;
    font-size: 15px;
  }

  .btn2{
    width: 40px;
    height:30px ;
    margin-right: 5px;
    border-radius: 5px;
   border: 1px solid rgb(209, 5, 5);
  }
  .btn2 i{
    cursor: pointer;
    font-size: 15px;
  }

  .container , .car-list {
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 50px;
  
  }




.footer{
    width: 100%;
    height: 100%;
    background-color: rgb(80, 73, 73);    
}
.fin-footer{
    display: flex;/* ndirhoum godam b3dhoum */
    justify-content: space-around;/*bah ndie espace binthoum "nb3dhoum 3la b3dhoum tkhli frghat bin 3nwiin"*/
    gap: 5rem; /*ta3 espace li bin 3nawiin bl3rd*/
}
.fin h4{
    color: #fff;
    font-size: 1.5rem;
}
.fin a {
    color: #fff;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif ;
    display: block;/*bah yjiw ta7t b3dhoum*/
    padding-bottom:0.4rem; 
    text-decoration: none;
}
.fin a i{
    padding-right:0.5rem; 
    color: #fff;
}
.fin a:hover i{
    padding-right: 1.5rem;
    color: rgb(209, 5, 5);

}
.create{
    text-align: center;
    color: #fff; 
    font-size: 1rem;
}
.create p{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
}
.create span{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
    padding-top:1rem;
}
