
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Mouse+Memoirs&family=Poppins:wght@300;400;500;600&family=Questrial&family=Tilt+Warp:XROT,YROT@5,1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    position: absolute;
    top: 15px;
    left: 5px;
    width:150px; 
    height:60px;
    border:3px;
    border-style: solid;
    border-radius: 50px;
    border-color:rgb(211, 3, 3); 
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;/* bh tahbt lta7t*/
    background-image: url(8.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.main{
    width: 420px;
    height: 400px;
    background-color: transparent;
    color: #fff;/* ktiba kulsh bayda*/
    box-shadow: 20px 20px 50px hwb(0 8% 23% / 0.502);/*dal t3ha*/
    border-radius: 50px;
    border-end-end-radius: 50px;
    margin : 20px 0;

}
.main h1{
    font-size: 36px;
    text-align: center;
    color: black;

}
.main input{
    width: 100%;
    height: 100%;
    margin: 30px 0;
}
.input input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 20px;
    padding: 20px 45px 20px 20px ;
}
.input input ::placeholder{
    color: #fff;
}
.main remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:  -15px 0 15px;

}
.remember{
    accent-color: #fff;
    margin-right: 9vb;
}

/*.remember label input{
    accent-color: #fff;
   
}*/

.remember a{
    color: black;
    text-decoration: none;
    font-size: 18px;
margin-left:80px;

}
.remember a:hover{
    text-decoration: underline;
}
.main button{
    width: 100%;
    height: 55px;
    background-color:red;
    border: none;
    /*outline: none;*/
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    margin: 1rem 0;
   
   
}
button a{
    text-decoration: none;
    color: #fff;
}