@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Mouse+Memoirs&family=Poppins:wght@300;400;500;600&family=Questrial&family=Tilt+Warp:XROT,YROT@5,1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.logo{
    width:150px; 
    height:60px;
    border:3px;
    border-style: solid;
    border-radius: 50px;
    border-color:rgb(211, 3, 3); 
    margin-left: 5px;
}
ul{
  list-style:none; /*bah mtjich la lise mr9ma " Remove HTML bullets" */
  background: rgb(223, 13, 13);
  border-radius: 15px;
  
}
ul li {
    display: inline-block;/*bah tji godam b3dha*/
    position: relative;
    width:10em ;
}
ul li a{
    display:block;/*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
    padding:10px 20px;
    color: #fff;
    text-decoration: none;/*bah myjiwch les liens mstrin*/ 
    text-align: center;
    font-size: 15px;
}
ul li ul.menu{
    display: block;/*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
}
ul li ul.menu{
    width: 170px;
    background: rgb(209, 5, 5) ;
    position: absolute;  /* bah yjiw f nafs star godam b3dhoum*/
    z-index:999 ; /*bah tjina liste ta3 dash w para*/
    display: none;/*bah ki ntka 3liha tjini ta3 dash w para ta7t b3dhoum psq koun n7itha tb9a kyna*/
}
ul li a:hover{
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
ul li:hover ul.menu{
    display: block; /*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
}
.login {
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
.login:hover{
    background: rgb(209, 5, 5);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}

.requests-container {
    width: 80%;
    margin: 0 auto;
    }
    
 table {
    width: 100%;
    border-collapse: collapse;
    }
    
 th, td  {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color: #000;
    }
    
th {
    background-color: #f2f2f2;
    color: black;
    }
    
.btn {
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
    }
    
.process {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    }
    
.add {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    }
    
.cancel {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    }
.box{
    width:100%;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);/*ta3 border li fih les messges*/
    background-color: #ffffff;
    border: solid gray 1px;
    cursor: pointer;
    margin-bottom: 20px;
}
.btn1{
    margin-left: 450px;
    width: 120px;
   height: 30px;
   margin-top: 10px;
   margin-bottom: 10px;
   background-color: rgb(209, 5, 5);
   border: none;
   border-radius: 10px;
}
.btn1  a {
   text-decoration: none;
   color: #fff;
   font-size: 15px;

}
.btn:hover{
    background-color: rgb(80, 73, 73);
}
.btn1:hover{
    color: rgb(80, 73, 73);
}
.btn1 a:hover{
    color: black;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}



.footer{
    width: 100%;
    height: 100%;
    background-color: rgb(80, 73, 73);    
}
.fin-footer{
    display: flex;/* ndirhoum godam b3dhoum */
    justify-content: space-around;/*bah ndie espace binthoum "nb3dhoum 3la b3dhoum tkhli frghat bin 3nwiin"*/
     gap: 5rem; /*ta3 espace li bin 3nawiin bl3rd*/
}
.fin h4{
    color: #fff;
    font-size: 1.5rem;
}
.fin a {
    color: #fff;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif ;
    display: block;/*bah yjiw ta7t b3dhoum chakla 3amoudi*/
    padding-bottom:0.4rem; 
    text-decoration: none;
}
.fin a i{
    padding-right:0.5rem; 
    color: #fff;
}
.fin a:hover i{
    padding-right: 1.5rem;
    color: rgb(209, 5, 5);

}
.create{
    text-align: center;
    color: #fff; 
    font-size: 1rem;
}
.create p{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
}
.create span{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
    padding-top:1rem;
}
