@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Mouse+Memoirs&family=Poppins:wght@300;400;500;600&family=Questrial&family=Tilt+Warp:XROT,YROT@5,1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.logo{
    width:150px; 
    height:60px;
    border:3px;
    border-style: solid;
    border-radius: 50px;
    border-color:rgb(211, 3, 3); 
    margin-left: 5px;
}
ul{
  list-style:none; /*bah mtjich la lise mr9ma " Remove HTML bullets" */
  background: rgb(223, 13, 13);
  border-radius: 15px;
  
}
ul li {
    display: inline-block;/*bah tji godam b3dha*/
    position: relative;
    width:10em ;
}
ul li a{
    display:block;/*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
    padding:10px 20px;
    color: #fff;
    text-decoration: none;/*bah myjiwch les liens mstrin*/ 
    text-align: center;
    font-size: 15px;
}
ul li ul.menu{
    display: block;/*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
}
ul li ul.menu{
    width: 170px;
    background: rgb(209, 5, 5) ;
    position: absolute;  /* bah yjiw f nafs star godam b3dhoum*/
    z-index:999 ; /*bah tjina liste ta3 dash w para*/
    display: none;/*bah ki ntka 3liha tjini ta3 dash w para ta7t b3dhoum psq koun n7itha tb9a kyna*/
}
ul li a:hover{
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
ul li:hover ul.menu{
    display: block; /*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
}
.login {
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
.login:hover{
    background: rgb(209, 5, 5);
}






body{
    width: 100%;
    /*background-color: rgb(80, 73, 73);*/
    background-image: url(9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}
.section h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
    color: black;
}
.section h1::after{
    content: "";
    height: 4px;
    width: 230px;
    background-color: red;
    display: block;
    margin: auto;
}
.about{
    width: 85%;
    display: flex;/*bah yb3do 3la b3dahm o yjo gdam b3d*/
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;/*!!!!!!!!!!!!!!*/
    background-color:#8f8a8a;
    border-radius: 10px;
    cursor: pointer;
}
.card :hover{
    background-color: #b8d4de;
    transition: 0.4s ease;

}
.card .icon{
    font-size: 35px;
    margin-bottom: 10px;

}
.card h2{
    font-size: 30px;
    color: #c94f4f;
    margin-bottom: 20px;
}
.card p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: black;
}



.main{
  max-width: 75%;
  margin: auto;
}


.main  h1 {
 text-align: center;
 
}

 
.btn {
  background-color: #8f8a8a;
  color: black;
  font-size: 1.5rem;
  width: 100%;/*bah yji twil*/
  padding: 2rem ;
  border: none;
  display: flex;/*bah tji janb*/
 justify-content: space-between;
  font-weight: bold;
}



.btn:hover {
  background-color: #f1f7f5;
}
.rpns {
 padding:  2rem;
  background-color: white;
  overflow: hidden;
 display: none;/*bah n9dr nchufha hta ntka*/
}
.rpns p {
  color: black;
 /* font-size: 1.2rem;*/
  line-height: 1.4;
}

.qst {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.qst.active {
  border: none;
}








.footer{
    width: 100%;
    height: 100%;
    background-color: rgb(80, 73, 73);    
}
.fin-footer{
    display: flex;/* ndirhoum godam b3dhoum */
    justify-content: space-around;/*bah ndie espace binthoum "nb3dhoum 3la b3dhoum tkhli frghat bin 3nwiin"*/
     gap: 5rem; /*ta3 espace li bin 3nawiin bl3rd*/
}
.fin h4{
    color: #fff;
    font-size: 1.5rem;
}
.fin a {
    color: #fff;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif ;
    display: block;/*bah yjiw ta7t b3dhoum chakla 3amoudi*/
    padding-bottom:0.4rem; 
    text-decoration: none;
}
.fin a i{
    padding-right:0.5rem; 
    color: #fff;
}
.fin a:hover i{
    padding-right: 1.5rem;
    color: rgb(209, 5, 5);

}
.create{
    text-align: center;
    color: #fff; 
    font-size: 1rem;
}
.create p{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
}
.create span{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
    padding-top:1rem;
}
