@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Mouse+Memoirs&family=Poppins:wght@300;400;500;600&family=Questrial&family=Tilt+Warp:XROT,YROT@5,1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.logo{
    width:150px; 
    height:60px;
    border:3px;
    border-style: solid;
    border-radius: 50px;
    border-color:rgb(211, 3, 3); 
    margin-left: 5px;
}
ul{
  list-style:none; /*bah mtjich la lise mr9ma " Remove HTML bullets" */
  background: rgb(223, 13, 13);
  border-radius: 15px;
  
}
ul li {
    display: inline-block;/*bah tji godam b3dha*/
    position: relative;
    width:10em ;
}
ul li a{
    display:block;/*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
    padding:10px 20px;
    color: #fff;
    text-decoration: none;/*bah myjiwch les liens mstrin*/ 
    text-align: center;
    font-size: 15px;
}
ul li ul.menu{
    display: block;/*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
}
ul li ul.menu{
    width: 170px;
    background: rgb(209, 5, 5) ;
    position: absolute;  /* bah yjiw f nafs star godam b3dhoum*/
    z-index:999 ; /*bah tjina liste ta3 dash w para*/
    display: none;/*bah ki ntka 3liha tjini ta3 dash w para ta7t b3dhoum psq koun n7itha tb9a kyna*/
}
ul li a:hover{
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
ul li:hover ul.menu{
    display: block; /*tarj3houm ta7t b3dhoum bchakl 3moudi "hda y7trm width w height"*/
}
.login {
    background: rgb(80, 73, 73);
    border-radius: 15px;
}
.login:hover{
    background: rgb(209, 5, 5);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}
.contact{
    position: relative;
    display:flex;
    text-align: center; 
    padding: 50px 160px;
    flex-direction: column;
    background: url(IMG_20240402_012415.jpg);
    background-size: cover;    /*raj3 background thkm section bkl bla mtt3wd */
}
.content h2{
  font-size: 25px;
  color: black;
  font-weight: 700;
}
.content p{
    font-size: 20px;
    color:black;
    font-weight: 500;
    margin-right: 100px;
}
.cont{
    display: flex;  /*tarj3 ta3 adress w form gdam b3dhoum*/
    margin-top: 30px;
    width: 100%;
}
.cont-info{
    display: flex;
    width: 50%;
    flex-direction: column;  /*raj3 adress phone.. ta7t b3dahoum*/
}
.box{
    display: flex;/*naj3o lktiba godam achkaal*/
    padding: 20px;
}
.icon{
    background: #fff;
    justify-content: center;/*yjiw icon f center ta3 background */
    align-items: center;     /*kima li fo9ha*/
    display: flex;  /*yjiw godam b3dhoum*/
    height: 60px;
    width: 60px;
    border-radius: 50px;
    font-size: 25px;
}
.text{
    display: flex;
    font-size: 15px;
    margin-left: 15px;
    color: #fff;
    flex-direction: column;/*bah yjiw ta7t b3dhoum*/
    font-weight: 200;
}
.text h3{
    font-size:20px;
    font-family:Arial Black;
    font-weight: 500;
    color: rgb(156, 2, 2);
}
.text p{
    color: black;
    font-weight: 500;
}
input{
    padding: 10px;
    margin: 20px;
    width: 70%;
    background: #fff;
    border: none;  
}
input::placeholder{
    color: #333;
}
textarea{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background: #fff;
    border: none;
}
textarea::placeholder{
    color: #333;
}
form h2{
    color:black;
}
input[type="submit"] {
    background-color:rgb(209, 5, 5);
    color: #fff;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    cursor:pointer;/*ta3 la souris ki nro7 liha twli yed*/
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color:rgb(80, 73, 73);
}



.footer{
    width: 100%;
    height: 100%;
    background-color: rgb(80, 73, 73);    
}
.fin-footer{
    display: flex;/* ndirhoum godam b3dhoum */
    justify-content: space-around;/*bah ndie espace binthoum "nb3dhoum 3la b3dhoum tkhli frghat bin 3nwiin "*/
    gap: 5rem; /*ta3 espace li bin 3nawiin bl3rd*/
}
.fin h4{
    color: #fff;
    font-size: 1.5rem;
}
.fin a {
    color: #fff;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif ;
    display: block;/*bah yjiw ta7t b3dhoum*/
    padding-bottom:0.4rem; 
    text-decoration: none;
}
.fin a i{
    padding-right:0.5rem; 
    color: #fff;
}
.fin a:hover i{
    padding-right: 1.5rem;
    color: rgb(209, 5, 5);

}
.create{
    text-align: center;
    color: #fff; 
    font-size: 1rem;
}
.create p{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
}
.create span{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
    padding-top:1rem;
}